.imagee {
    transition: transform 0.3s ease-in-out;
}

.imagee:hover {
    transform: scale(1.1);
    /* Ubah angka sesuai dengan kebutuhan, 1.1 akan memperbesar 10% dari ukuran aslinya */
}
.cardd {
    overflow: hidden; /* Memastikan konten di dalam card tidak keluar dari batas frame */
  }