.nav-berita {
    background: var(--primary-gradient);
}

.nav-berita .nav-link {
    color: white;
    font-size: medium;
    font-weight: 600;
}

.nav-berita .nav-link.active {
    background-color: #FFFFFF80;
    color: white;
}

.nav-berita .nav-link:hover {
    text-decoration: none;
    background-color: none;
    border: none;
}

.icon-fv {
    z-index: 10;
}

#berita h3 {
    font-weight: 900;
}

.card-tittle-artikel {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    transition: color 0.3s ease-in-out;
    font-weight: 700;
}

.card-berita:hover {
    color: var(--orange);
    cursor: pointer;

    .card-text-artikel {
        color: black;
    }
}

.cardd {
    overflow: hidden;
    border-radius: 1em;
    position: relative;
}

.card-berita img {
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.card-berita img:hover {
    transform: scale(1.03);
}

.card {
    background: none;
}

.berita {
    background-image: url('../../../public/assets/bg-buttom-dekstop.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-origin: border-box;
    background-clip: border-box;
}

.btn-berita {
    background-color: var(--orange);
    box-shadow: 0px 18px 40px 12px #FFD36759;
}

.btn-berita:hover {
    background-color: var(--orange-secondary);
    box-shadow: 0px 18px 40px 12px #FF9A3C40;
}

.card-berita img {
    transition: transform 0.3s ease-out;
    border-radius: 1em;
}

@media (max-width: 576px) {
    .berita {
        background-image: url('../../../public/assets/bg-buttom-mobile.jpg');
    }

    .card-berita {
        flex-direction: row;
        font-size: 0.9em;
    }

    .card-berita img {
        transition: transform 0.3s ease-out;
        border-radius: 1em;
        aspect-ratio: 1/1;
        object-fit: cover;
        max-width: 25%;
    }

    .card-tittle-artikel {
        -webkit-line-clamp: 3;
        font-size: medium;
    }

    .icon-fv {
        font-size: x-small;
    }
}