.bg-footer {
    background: var(--green);
}

.img-footer {
    height: auto;
    max-width: 20%;
}

.list-group-item {
    border: 0;
    background: none;
}
.list-group-horizontal .list-group-item {
    margin: 0; /* Menghilangkan margin kanan pada list item */
  }

.list-group-item img{
    height: 32px;
}