.bg-footer {
    background: var(--green);
    border: 0;
}

.img-footer {
    height: auto;
    max-width: 20%;
}

.list-group-item {
    border: 0;
    background: none;
}

.list-group-horizontal .list-group-item {
    margin: 0;
}

.list-group-item img {
    height: 32px;
}