.navbar-brand img {
    height: 32px;
}

.headnav {
    background-color: #FFFFFF80;
    backdrop-filter: blur(3px);
}

.headnav .nav-item a {
    color: black;
    font-weight: 600;
}

.nav-link.active {
    background-color: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:not(.collapsed):active {
  outline: none;
  box-shadow: none;
}

.nav-item .nav-link.active {
  background-color: none;
  border-bottom: none;
}

.nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-item button {
  background: var(--primary-gradient);
  transition: all 300ms ease-in-out ;
  animation-timing-function: linear;
}

.nav-item button:hover {
  background: var(--secondary-gradient);
}
