.navbar-nav .nav-link {
    color: black;
}

.navbar-brand img {
    height: 20px;
}

nav {
    background-color: rgba(255, 255, 255, 0.5); /* 50% transparent white */
    width: fit-content;
    z-index: 10;
}

