.navbar-brand img {
    height: 32px;
}

.headnav {
    background-color: #FFFFFF80;
    backdrop-filter: blur(5px);
}


.headnav .nav-item a {
    color: black;
    font-weight: 600;
}

.nav-link.active {
    background-color: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:not(.collapsed):active {
  outline: none;
  box-shadow: none;
}

.nav-item .nav-link.active {
  background-color: transparent;
  border-bottom: none;
}
