.hero-img {
    background-image: url('../../assets/bg-desktop 1.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
}


@media (max-width: 576px) {
    .hero-img {
        background-image: url('../../assets/bg-mobile 1.png');
        height: 943px;
    }
}