.hero-img {
    background-image: url('../../../public/assets/bg-desktop 1.png');
    background-size: cover;
    background-position: center;
    background-origin: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    min-height: 940px;
}

.logo-img {
    max-height: 276px;
    width: auto;
    display: block;
}

@media (max-width: 576px) {
    .hero-img {
        background-image: url('../../../public/assets/bg-mobile 1.png');
        height: 943px;
        align-items: flex-start;
    }

    .logo-img {
        max-height: 147px;
        margin-top: 10rem;
    }
}
