/* Global Style */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

:root {
    --blue: #326DFE;
    --green: #59FEBB;
}

.all {
    font-family: 'Montserrat', sans-serif;
}