@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');

:root {
    --blue: #326DFE;
    --green: #28A997;
    --orange: #FFC73C;
    --orange-secondary: #FF9A3C;
    --primary-gradient: linear-gradient(257.55deg, #59FFB9 0%, #326CFF 100%);
    --secondary-gradient: linear-gradient(270.77deg, #326CFF 0%, #59FFB9 100%);
}

body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
